<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: headerfiles('buffetAddForm')">
</head>
<body>
<header th:replace="template.html :: intestazione"></header>

<div class="container my-5">
	<h2>Aggiungi un buffet</h2>
	<form th:action="@{/admin/addBuffet}" method="POST">
		<div class="form-group">
			<label for="nomeBuffet">Nome Buffet</label>
			<input type="text" class="form-control" id="nomeBuffet" name="nomeBuffet">
		</div>
		<div class="form-group">
			<label for="descrizioneBuffet">Descrizione Buffet</label>
			<input type="text" class="form-control" id="descrizioneBuffet" name="descrizioneBuffet">
		</div>
		<input type="hidden" th:value="${chef.id}" name="idChef">
		<input type="hidden" th:value="${buffet.id}" name="idBuffet">
		<button type="submit" class="btn btn-primary mt-3">Aggiungi Buffet</button>
	</form>
</div>

<footer th:replace="template.html :: footer"></footer>
</body>
</html>

