<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: headerfiles('piattoAddForm')">
</head>
<body>
<header th:replace="template.html :: intestazione"></header>
<!-- Page Content -->
<div class="container mt-5">
  <h2>Scegli un piatto</h2>
  <div class="card overflow-auto" style="max-height: 500px;">
    <div class="card-body">
      <form th:action="@{/admin/addIngredienti}"  method="POST">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Seleziona</th>
            <th>Nome</th>
            <th>Origine</th>
            <th>Descrizione</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="piatto : ${piattoObjs}">
            <td><input type="checkbox" name="piattoIds" th:value="${piatto.id}"/></td>
            <td th:text="${piatto.nome}"></td>
            <td th:text="${piatto.descrizione}"></td>
          </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-danger">Aggiungi piatti selezionati</button>
        </div>
      </form>
    </div>
  </div>
</div>
<footer th:replace="template.html :: footer"></footer>
</body>
</html>