
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="template.html :: headerfiles('viewLista')">
</head>
<body style="background-image: url(/images/sfondoChef.jpg); background-size: cover; background-position: center;">
<header th:replace="template.html :: intestazione"></header>
<div class="card overflow-auto" style="max-height: 500px;">
	<div class="card-body">
		<h3 class="card-title text-center">Visualizza Chef</h3>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Nazionalità</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="chef : ${chefs}">
				<td th:text="${chef.nome}"></td>
				<td th:text="${chef.cognome}"></td>
				<td th:text="${chef.nazionalita}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<footer th:replace="template.html :: footer"></footer>
</body>
</html>