<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template.html :: headerfiles('succes')">
	</head> 
	 
	<body> 
		<header th:replace="template.html :: intestazione"></header>
		<br>
		<br>
		<br>
		<div class="container-fluid vh-100">
			<img src="/images/sfondo.jpg" alt="Sfondo" class="w-100 vh-100">
			<div class="position-absolute top-50 start-50 translate-middle text-center">
				<h3>La registrazione e' andata a buon fine!</h3>
				<a class="btn btn-dark py-2" role="button" th:href="@{/login}">Effettua l'accesso</a>
			</div>
		</div>
		<footer th:replace="template.html :: footer"></footer>
	</body>

</html>